.App {
  text-align: center;
}

body {
  background-image: url("./study.gif");
  background-size: cover;
  background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: 20px;
  margin: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.ClockStyle {
  font-size: 50px;
  color: white;
  background-color: black;
  /* margin-left: 70%;
  margin-right: 100px; */
  width: 200px;
}

.timerStyle {
  background-color: white;
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  font-size: 100px;
}

.pomoCount {
  font-size: xx-large;
}

.mobile {
  display: none;
}
.mainApp {
  display: inline;
}

.breakTime {
  font-size: xx-large;
  background-color: #fca4a1;
  color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* ASMR styling */
.Rain {
  display: inline-block;
  opacity: 50%;
}
.Rain:hover {
  opacity: 100%;
}

/* screens smaller than 500px */

@media only screen and (max-width: 500px) {
  .ClockStyle {
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
  }
  .timerStyle {
    width: 250px;
  }
  body {
    background-image: none;
  }
  .bottomText p {
    color: black;
    font-size: 20px;
    float: inline-end;
  }

  .mobile {
    display: contents;
    overflow: scroll;
  }

  .desktop {
    display: none;
  }
}

/* Screens that are 500px wide and larger */

@media only screen and (min-width: 700px) {
  .bottomText {
    background-color: #c6695b;
    float: left;
    width: 320px;
    font-size: 20px;
    color: white;
    display: inline;
    margin-top: 20px;
    width: 100vw;
    padding: 10px;
  }
  .pomoCount {
    color: black;
    font-size: 20px;
  }

  .mobile {
    display: contents;
    overflow: scroll;
  }

  .desktop {
    display: none;
  }
}

/* screens larger than 1400px */
@media only screen and (min-width: 1400px) {
  .ClockStyle {
    margin-left: 30vw;
    font-size: 40px;
  }
  .timerStyle {
    margin-right: 30vw;
  }
  .mainApp {
    float: right;
    margin-right: 5vw;
  }
  .buttons {
    margin-right: 25vw;
  }
  .bottomText {
    width: 350px;
    margin-top: 20vh;
  }
  .breakTime {
    margin-right: 30vw;
  }
}
