.App {
  text-align: center;
}

body {
  background-image: url("./study.gif");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: 20px;
  margin: 5px;
  margin-left: 8px;
  margin-right: 8px;
  border-color: white;
  padding: 5px;
  background-color: #c6695b;
  border: none;
}

/* editing the buttons so they look good */

button:focus {
  background-color: #c6695b;
  color: white;
  border: none;
}

.ClockStyle {
  font-size: 50px;
  color: white;
  background-color: black;
  width: 200px;
  text-align: center;
}

.timerStyle {
  background-color: white;
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  font-size: 100px;
  border: 2px solid black;
}

.pomoStyle {
  color: white;
  background-color: #d87a6c;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.mainApp {
  display: inline;
  float: right;
  width: 800px;
  margin-left: 100px;
}

.breakTime {
  font-size: xx-large;
  background-color: #fca4a1;
  color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  float: left;
}

.bottomText {
  border: 2px solid black;
}

/* ASMR styling */
.Rain {
  display: inline-block;
  opacity: 0.5;
}
.Rain:hover {
  opacity: 1;
}
.clockContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* screens smaller than 500px */

@media only screen and (max-width: 500px) {
  .ClockStyle {
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
  }
  body {
    background-image: url("./mobileWallpaper.jpg");
  }
  .bottomText {
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border: 2px solid black;
  }

  .mobile {
    display: contents;
    overflow: scroll;
  }

  .desktop {
    display: none;
  }
  .timerContainer {
    margin-left: auto;
    margin-right: auto;
  }
  .mainApp {
    display: initial;
    float: none;
    margin-left: none;
  }

  .buttons {
    float: none;
  }
}

/* Screens that are 500px wide and larger */

@media only screen and (min-width: 700px) {
  .bottomText {
    background-color: #c6695b;
    float: left;
    width: 320px;
    font-size: 20px;
    color: white;
    display: inline;
    margin-top: 20px;
    width: 100vw;
    padding: 10px;
  }

  .mobile {
    display: contents;
    overflow: scroll;
  }

  .desktop {
    display: none;
  }
  .ClockStyle {
    width: 300px;
  }
  .mainApp {
    display: block;
    width: 600px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

/* screens larger than 1400px */
@media only screen and (min-width: 1400px) {
  .ClockStyle {
    margin-left: 70%;
  }
  .mainApp {
    float: right;
    margin-right: 20%;
  }
  .bottomText {
    width: 350px;
    margin-top: 20vh;
    margin-left: 20px;
  }
  .breakTime {
    margin-right: 30vw;
  }
  .mobile {
    float: left;
  }
}
